<!DOCTYPE html>
<html>
<head>
<title>Plot Analytics</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style type="text/css">
    .remove-label
	{
    	color: #fff;
	}
	ul
    </style>
<style> .myList{ list-style-type: none;}
form { display: inline; }</style>
<div class="container">
<div class = "row">
<div class="col-sm-6">
<form type="get" style="margin: 0">
<div class="input-group add-on">
    <input  id="search_box" type="text" name="search_box" class="form-control"  placeholder="Search..." >
    <div class="input-group-btn">
    <button id="search_submit" class="btn btn-dark" style="border-radius: 0" type="submit" ><i class="glyphicon glyphicon-search"></i></button>
    </div>
</div>
</form>
<form action="/">
    <button type="submit" class="btn btn-dark" style="border-radius: 0">New Data</button>
</form>
<form action="/analyse/">
    <button type="submit" class="btn btn-dark" style="border-radius: 0">Refresh</button>
</form>
<button class="btn btn-dark" style="border-radius: 0" onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
</div>
</div>

<br>
<div class='row'>
{% load staticfiles %}
{% for plot in plots %}
    {% with plot.id|stringformat:"i"|add:".png" as image_static %}
    <div class = "col-md-6">
      <div class = "thumbnail">
        <a href = "{% url 'subplots' plot.id%}" class = "btn btn-dark" role = "button">
        <img src="{% static image_static %}" alt="My image"/>
        </a>
        Tags:
        {% for tags in plot.tagging_set.all %}
        {{ tags.tag }}
        {% endfor %}
      </div>
    </div>
  {% endwith %}
{% endfor %}
</div>
</div>
</body>
</html>
